* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

input {
  padding: 8px;
  font: inherit;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}
.gallery_img {
  height: 100%;
  display: block;
}
.gallery_link {
  list-style-type: none;
}

.gallery {
  display: flex;
  gap: 10px;
  
}

.boxes_element {
  width: 30px;
  height: 30px;
  border: 1px solid #212121;
}

#boxes {
  display: flex;
  gap: 10px;
  margin-top: 30px;
  justify-content: center;
  flex-wrap: wrap;
}